{% extends 'layout.html' %}
{% block content %}
    {% include 'header.html' %}
    <div class="content-wrapper">
    <h1>Registration</h1>
    <form class="search_form" method="post">
        <label for="name">User Name:</label><br>
        <input type="text" required id="name" name="user_name" placeholder="Your User Name" autocomplete="off"><br>
        <label for="password">Password:</label><br>
        <input type="password" required id="password" name="pw" placeholder="Your Password" autocomplete="off"><br>
        <button class="main_btn" type="submit">Submit</button>
    </form>
    <p>{{ message }}</p>
    </div>
     <a href="/"><button class="back_btn" type="button">Back to main page</button></a>
{% endblock %}